@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Roboto&display=swap');
@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 초기화 */
body, h1, h2, h3, h4, h5, h6, ul, p, figure {margin: 0; padding: 0;}
.hidden {position: absolute; left: -9999px;}
ul {list-style: none;}
a {text-decoration: none;}
address {font-style: normal;}
small {font-size: 1em;}
/* 웹 폰트 */
#header {font-family: 'IM_Hyemin-Bold', sans-serif; font-weight: bold;}
main {font-family: sans-serif;}
#gnb {font-family: 'Jua', sans-serif; font-size: 18px;}
/* 공통 */
/* body {background: #b8dbf8;} */
/* 헤더 */
#header {
    height: 600px; width: 100vw;
    background: #0080c0 url(../images/bg.jpg) no-repeat center / cover;
    display: table-cell; vertical-align: middle;
}
#header hgroup {
    text-align: center;
    color: white; text-shadow: 3px 3px 2px black;
    text-transform: uppercase;
}
#header h1 {
    margin: 40px 0; font-weight: bold; font-size: 100px;
    letter-spacing: 3px;
}
#header h1 a {color: white;}
#header h2 {font-size: 50px; color: tan;}
/* 주요메뉴 */
#gnb {
    width: 1000px;
    /* position: relative; top: -30px; margin: 0 auto; */
    position: absolute; top: 570px;
    left: calc(50% - 500px);
    }
/* #gnb ul {margin: 0 auto;} */
#gnb li {
    float: left; width: 25%; height:60px; text-align: center; box-sizing: border-box;
    line-height: 60px;
    /* border: 1px solid white; */
    /* height를 생략해도 상관 없다(line-height가 있기 때문에) */
}
#gnb li:hover a {font-weight: bold; color: #000080; background: white;}
#gnb li a {
    display: block; /*width: 100%; height: 100%;*/ color: white;
    background: #036;
}
/* #gnb ul li.on a {font-weight: bold; color: #000080; background: white;} */
/* 메인 */
/* 배경 */
main {clear: both; background: white; width: 1000px; margin: 60px auto 10px;}
/* 제목, 설명 */
#content h2 + p {font-weight: bold; font-size: 18px; margin: 20px 0 10px;}
/* article */
/* figure는 인라인 요소, margin을 적용시키고 싶을 때는 항상 너비 값이 있어야 할것!! */
#content #img {margin-left: 40px;}
#content #img article figure:nth-of-type(2) {margin-top: 20px;}
#content #img article figcaption {font-size: 14px; font-weight: bold;}
/* footer */
footer {
    background: #003300; text-align: center; color: #fff;
    font-size: 13px; padding: 26px 0 10px 0;
}
footer p {font-size: 14px; margin-bottom: 20px;}
/*
    ftp://id.dothome.co.kr
    사용자명 : id, pw 적고 로그인 후

    html 폴더안으로 들어가서
    기존 내용 모두 삭제 후
    F5 새로고침
*/